@import "./colors.scss";

nav{
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

   > h2{
        text-transform: uppercase;
        color: $primary;
    }
    >div{
        display: flex;
        align-items: center;
    
        
        >a{
            color: $primary;
            font-size: 1.2rem;
            margin: 0 1rem;
            transition: all 0.3s;
            &:hover{
                opacity: 0.5;
            }
        >p{
            position: absolute;
            background-color: $teritary;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            font: 900 0.7rem;
            display: grid;
            place-items: center;
            transform: translate(80% , -80%);
        }
        }
    }

}

.hidden-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 125px;
    height: 110px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: visible;
    z-index: 1;
    width: 100%;
    top: 6%;
}

.content:hover .hidden-content{
    opacity: 1;
    visibility: visible;
    background-color: $primary;
}

.login:hover .hidden-content{
    opacity: 1;
    visibility: visible;
    background-color: $primary;
}

